<footer class="site-footer" role="contentinfo">
    <div class="container footer-grid">
        <div class="footer-col col-brand">
            <a href="{{@site.url}}" class="footer-logo-link">
                {{#if @site.logo}}
                    <div class="footer-logo-wrap">
                        <img class="footer-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                    </div>
                {{else}}
                    <span class="footer-title gold-text">{{@site.title}}</span>
                {{/if}}
            </a>
            {{#if @site.description}}
                <p class="footer-tagline">{{@site.description}}</p>
            {{/if}}
            <div class="footer-socials">
                {{#get "pages" slug="footer-social-links" limit="1"}}
                    {{#foreach pages}}
                        <div class="footer-social-page-content">
                            {{content}}
                        </div>
                    {{/foreach}}
                {{/get}}
            </div>
        </div>

        <div class="footer-col">
            <h4 class="footer-col-title">{{t "Navigation"}}</h4>
            {{navigation}}
        </div>

        <div class="footer-col col-contact">
            {{#get "pages" slug="footer-contact-info" limit="1"}}
                {{#foreach pages}}
                    <h4 class="footer-col-title">{{title}}</h4>
                    <div class="footer-contact-content">
                        {{content}}
                    </div>
                {{/foreach}}
            {{/get}}
        </div>

        <div class="footer-col col-subscribe">
            {{#get "pages" slug="footer-newsletter-info" limit="1"}}
                {{#foreach pages}}
                    <h4 class="footer-col-title">{{title}}</h4>
                    <div class="newsletter-text">{{content}}</div>
                    <a href="#/portal" class="btn btn-primary btn-rounded btn-small">{{#if custom_excerpt}}{{custom_excerpt}}{{else}}{{t "Subscribe"}}{{/if}}</a>
                {{/foreach}}
            {{/get}}
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <p class="copyright">&copy; {{date format="YYYY"}} {{@site.title}}. All Rights Reserved.</p>
                <div class="footer-legal">
                    <a href="https://ghost.org" target="_blank" rel="noopener">Powered by Ghost</a>
                </div>
            </div>
        </div>
    </div>
</footer>
